<h1>Login or Signup Below!</h1>
<form method="POST" action="/login">
  Name: <input type="text" name="diver[name]"></input>
  Password: <input type="text" name="diver[password]"></input>
  <input type="submit" value="LOGIN">
</form><br>
<a href="/signup">SIGNUP</a><br>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
