<form method="POST" action="/login">
  Name: <input type="text" name="diver[name]"></input>
  Password: <input type="text" name="diver[password]"></input>
  <input type="submit" value="Login">
</form>
